*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    background-color: rgb(114, 13, 230);
    padding: 25px;
    position: absolute;
    top: 0;


}

header .container{
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    margin-right: 100px;
    font-size: 16px;
    letter-spacing: 1px ;
    color: rgb(255, 255, 255);
    font-family:'Rubik', sans-serif;;
    
    

}


.banner-container {
    width: 100%;
    height: 100vh;
    background-image: url("./HTML/images/bg.jpg");
    display: flex;
}

.banner-container .container{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    

}
.left-section h1{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: xx-large;
    font-family: 'Archivo Narrow', sans-serif;
}


div .right-section{
    size-adjust: 30%;
}

image{
    display: block;
}

p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 50%;
  padding-top: 15px;
}

